@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    @apply text-sm font-medium text-gray-600;
}

button {
    @apply bg-blue-500 text-white font-bold rounded hover:bg-blue-700;
}

select {
    @apply block w-full px-3 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg shadow-sm focus:outline-none focus:border-blue-300 sm:text-sm;
}

textarea {
    @apply block w-full px-3 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg shadow-sm focus:outline-none focus:border-blue-300 sm:text-sm;
}
